body, a {
	background-color: black;
	color: lime;
	margin: 0px;
}


#buildings {
		background-color: black;
		position: fixed;
		margin-bottom: 0px;		
		width: 700px;
		margin: 3px;
}

#military {
	background-color: black;
	margin-bottom: 0px;		
	width: 700px;
	margin: 3px;
	
}

#military li {
	background-color: black;
	cursor: pointer;
	margin: 3px;
	height: 93px;
	width: 93px;
}

#buildings li {
	background-color: black;
	cursor: pointer;
	margin: 3px;
	height: 93px;
	width: 93px;
}
#buildingsNav {
	background-color: brown;
	position: fixed;
	bottom: 150px;
	
}

#militaryNav {

	bottom: 20px;
	
}


#navMenuRight {
			width: 700px;
			background-color: black;
			position: fixed;
			top: 0px;
			min-width: 395px;
		}
		nav ul{
			margin: 0px;
			list-style-type: none;
			overflow: hidden;
			padding-left: 0px;


		}
		nav li {
			float: left;
			margin-left: 0px;
			padding-left: 0px;
			background-color: black;
			overflow: hidden;
			border: 1px solid; 
			width: 80px;
		}


#mainMenuRight ul {
	background-color: blue;
	position: fixed;
	margin-right: 0px;
	right: 0px;
	list-style-type: none;
	padding-top: 3px;
	border: 1px, lime ;
	
	}

#mainMenuRight li {
	padding-bottom: 3px;
	margin-left: 0px;
	cursor: pointer;
}

#mainMenuRight li:hover {	
	transform: scale(1.2);
  }


#researchNav {
	background-color: brown;
	position: fixed;
	bottom: 0px;
}

.containerTab {
	display: none;
	bottom: 0px;
	position: fixed;
}

.containerMapTiles {
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto ;
	width: 15%;
	outline: 1px solid brown;
	color: red;	
	align-content: center;
	
}

.mapGridItem {
	background-color: blue;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	text-align: center;
	width: 100%;	
}

.mainCenterInfo {
	width: 50%;
	height: 40%;
	padding: 0px;
	margin: 20px;
	background: red;
	
}

.containerTabBuildings {
	display: none;
	bottom: 0px;
	position: center;
	right: 150px ;
	width: 100%;
	height: 100%;
	background: orange;
	padding: 0px;
	
}

#containerTabBuildingsImage {
	height: 200px;
	width: 200px;
	background: grey;
}

.buildingTabHeader {
	text-align: center;
	font-size: 150%;
}

.buildingTabData {
 display: inline-block;
 position: absolute;
}

.buildingTabMain {
	display: inline-block;
	width: 50%;
}

.buildingTabFooter {
	font-size: 22px;
	background: purple;
}

.bottomTimer {
	background-color: red;
	width: 100px;
	height: 100px;
	display: grid;
	place-items: center;
	position: absolute;
	bottom: 100px;
	right: 0px;
}

#startButton {
	height: 100%;
	width: 100%;
}