body, a {
	background-color: black;
	color: lime;
	margin: 0px;
}


#buildings {
		background-color: black;
		position: fixed;
		margin-bottom: 0px;		
		width: 700px;
}

#buildings li {
	background-color: black;
	cursor: pointer;

	
}


#buildingsNav {
	background-color: brown;
	position: fixed;
	bottom: 75px;
	
}



#navMenuRight {
			width: 700px;
			background-color: black;
			position: fixed;
			top: 0px;
			min-width: 395px;
		}
		nav ul{
			margin: 0px;
			list-style-type: none;
			overflow: hidden;
			padding-left: 0px;


		}
		nav li {
			float: left;
			margin-left: 0px;
			padding-left: 0px;
			background-color: black;
			overflow: hidden;
			border: 1px solid; 
			width: 80px;
		}


#mainMenuRight ul {
	background-color: blue;
	position: fixed;
	margin-right: 0px;
	right: 0px;
	list-style-type: none;
	padding-top: 3px;
	border: 1px, lime ;
	
	}

#mainMenuRight li {
	padding-bottom: 3px;
	margin-left: 0px;
	cursor: pointer;
}

#mainMenuRight li:hover {	
	transform: scale(1.2);
  }


#researchNav {
	background-color: brown;
	position: fixed;
	bottom: 0px;
}

.containerTab {
	display: none;
	bottom: 0px;
	position: fixed;
}

.containerMapTiles {
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto ;
	width: 15%;
	outline: 1px solid brown;
	color: red;	
	align-content: center;
	
}

.mapGridItem {
	background-color: blue;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	text-align: center;
	width: 100%;	
}

.mainCenterInfo {
	width: 500px;
	height: 300px;
	border: 1px solid green;
	padding: 10px;
	margin: 20px;
}

.containerTabBuildings {
	display: none;
	bottom: 0px;
	position: center;
	right: 150px ;
	width: 50%;
	background: orange;
	margin: 5px;
	text-align: center;
}

#containerTabBuildingsImage {
	height: 200px;
	width: 200px;
}